<template>
    <template if:true={isEditing}>
        <td>
            <lightning-input variant="label-hidden" name="Name" data-name="Name" type="text" label="" value={name} onchange={handleChange} readonly={disabled}></lightning-input>
        </td>
    </template>
    <template if:false={isEditing}>
        <td>
            <a href={productUrl}>{name}</a>
        </td>
    </template>
    <td>
        <lightning-input variant="label-hidden" name="Description" data-name="Description" type="text" label="" value={description} onfocus={setDescFocused} onblur={unsetDescFocused} onchange={handleChange} readonly={disabled}></lightning-input>
    </td>
    <td>
        <lightning-input variant="label-hidden" name="StockKeepingUnit" data-name="StockKeepingUnit" type="text" label="" value={tabledata.StockKeepingUnit} onchange={handleChange} readonly={disabled}></lightning-input>
    </td>  
    <template iterator:it={prices}>
        <c-product-prices 
            class="slds-table slds-table_bordered slds-border_right slds-border_left slds-table_cell-buffer slds-table_striped row_element" 
            onaddstandardprice={handleAddStandardPrice} 
            onpricechange={handlePriceChange}
            onpricechangeoneditmode={handlePriceChangeOnEditMode}
            onaddpricebuttonclick={handleAddPriceButtonClick}
            dosetfocus={it.value.doSetFocus}
            price={it.value.price} 
            pbid={it.value.pbid} 
            isstandard={it.value.isStandard} 
            isempty={it.value.isEmpty} 
            key={it.value.pbid}
            disabled={disabled}
            hasstandardprice={hasStandardPrice}
        >
        </c-product-prices>
    </template>

    <template if:false={isEditing}>
        <td class="button_cell">
            <lightning-button variant="brand" label="Edit" title="Edit" onclick={onEditButtonClick} class="slds-m-left_x-small"></lightning-button>
        </td>
        <td class="button_cell">
            <lightning-button variant="brand" label="Delete" title="Delete" onclick={onDeleteButtonClick} class="slds-m-left_x-small"></lightning-button>
        </td>
    </template>

    <template if:true={isEditing}>
        <td class="button_cell">
            <lightning-button variant="brand" label="Save" title="Save" onclick={onSaveButtonClick} class="slds-m-left_x-small"></lightning-button>
        </td>
        <td class="button_cell">
            <lightning-button variant="brand" label="Cancel" title="Cancel" onclick={onCancelButtonClick} class="slds-m-left_x-small"></lightning-button>
        </td>
    </template>
</template>