<template>    
        <template if:false={showButton}>
            <div onshow={onInputShow}>
                <lightning-input 
                    variant="label-hidden" 
                    type="number" 
                    name={pbid} 
                    label="" 
                    value={price} 
                    formatter="currency"
                    onkeypress={onPriceKeyPress}
                    onchange={onPriceChange} 
                    onblur={onPriceBlur} 
                    min="0.01" 
                    step="0.01" 
                    readonly={disabled}
                ></lightning-input>
            </div>
        </template>
        <template if:true={showButton}>
            <template if:true={showAddStandardButton}>
                <lightning-layout vertical-align="center" horizontal-align="center">
                    <lightning-layout-item>
                        <lightning-button variant="brand" label="Add" name={pbid} title="Add" onclick={onAddStandardPriceButtonClick} class="slds-m-left_x-small"></lightning-button>
                    </lightning-layout-item>
                </lightning-layout>
            </template>
            <template if:false={showAddStandardButton}>
                <lightning-layout vertical-align="center" horizontal-align="center">
                    <lightning-layout-item>
                        <lightning-button variant="brand" label="Add Price" name={pbid} title="Add Price" onclick={onAddPriceButtonClick} class="slds-m-left_x-small"></lightning-button>
                    </lightning-layout-item>
                </lightning-layout>
            </template>
        </template>
    
</template>