<template>
    <template if:true={pagedData}>   

        <lightning-layout vertical-align="center">

            <lightning-layout-item padding="around-small">
                <lightning-input type="search"
                    onchange={handleSearchTermChange}
                    variant="label-hidden"
                    class="slds-var-m-bottom_small"
                    label="Search"
                    placeholder="Search for products"
                    value={searchTerm}>
                </lightning-input>
            </lightning-layout-item>  

            <lightning-layout-item padding="around-small" alignment-bump="left">
                <lightning-button variant="brand" label="Create Product" title="Create Product" class="slds-m-left_x-small" onclick={showModalProduct}>                
                </lightning-button>
            </lightning-layout-item> 

            <lightning-layout-item padding="around-small">
                <lightning-button variant="brand" label="Create Pricebook" title="Create Pricebook" class="slds-m-left_x-small" onclick={showModalPricebook}>                
                </lightning-button>
            </lightning-layout-item>

        </lightning-layout>

        <template if:true={showSaveAllButton}>            
            <lightning-layout vertical-align="center">
                <lightning-layout-item padding="around-small">
                    <lightning-button variant="brand" label="Save All" title="Save All" onclick={onSaveAllButtonClick} class="slds-m-left_x-small button">                
                    </lightning-button>
                </lightning-layout-item>  
            </lightning-layout>
        </template>

        <template if:true={isModalProductOpen}>
            <c-product-modal-product onsave={handleCreateProduct} oncancel={handleCancelCreateProduct}></c-product-modal-product>
        </template>

        <template if:true={isModalPricebookOpen}>
            <c-product-modal-pricebook onsave={handleCreatePricebook} oncancel={handleCancelCreatePricebook}></c-product-modal-pricebook>
        </template>
                

        <table class="slds-table slds-table_bordered slds-border_right slds-border_left slds-table_cell-buffer slds-table_col-bordered">
            <thead>
                <template iterator:it={columns}>
                    <th class="" scope="col" key={it.value.fieldName}>
                        <template if:false={it.value.isPrice}>
                            <div class="slds-truncate" title={it.value.label}>{it.value.label}</div>
                        </template>
                        <template if:true={it.value.isPrice}>
                            <a href={it.value.url}>{it.value.label}</a>
                        </template>
                    </th>
                </template>     
            </thead>
            <tbody>                
                <template iterator:it={pagedData}>                    
                    <c-product-item 
                        key={it.value.Id} 
                        pbentries={_pricebookEntries}
                        onrefreshprice={handleRefreshPrice} 
                        onchangeitem={handleChangeItem} 
                        onendedit={handleEndEdit}
                        ondeleteitem={handleDeleteItem}
                        columns={columns} 
                        tabledata={it.value}
                        >
                    </c-product-item>
                </template>
            </tbody>
        </table>

        <div class="slds-var-p-top_small slds-align_absolute-center">

            <lightning-button 
                name="buttonBackwards" 
                label="" 
                title="" 
                icon-name="utility:back" 
                onclick={handleButtonPrevious}  
                class="slds-var-m-left_x-small" 
                disabled={disabledPreviousButton}>
            </lightning-button>

            &nbsp;&nbsp;Showing {currentPage} of {maxPages} pages.

            <lightning-button 
                name="buttonForwards" 
                label="" 
                title="" 
                icon-name="utility:forward" 
                onclick={handleButtonNext} 
                class="slds-var-m-left_x-small" 
                disabled={disabledNextButton}>
            </lightning-button>
        </div>

    </template>
</template>